CompileFlags:
  Add: [-Wall, -Wextra, -pedantic, -O0, -std=c17, -c, -I./, -I./include/, -DDEBUG, -D_DEBUG, -D__VERBOSE_OUTPUTS]
  Compiler:  clang.exe
  CompilationDatabase: None

Completion:
  AllScopes: Yes

Index:
  Background: Skip

InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes
